{% extends "base.html" %}

{% block title %}
詳細
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col">
        <h3>詳細</h3>
    </div>
</div>
<div class="row">
    <div class="col">
        <a href="{% url 'add' %}" class="btn btn-primary">詳細</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>項目</th>
                <th>値</th>
            </tr>
            </thead>
            <tbody>
            {% for key, value in inquiry_items %}
            <tr>
                <th scope="col"> {{ key }}</th>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}